<configuration>
<configSections>
<section name="log4net"
type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, &#xD;&#xA;  Culture=neutral, PublicKeyToken=1b44e1d426115821"
                                                    />
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
  <section name="d2mpserver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
  </configSections>
  <log4net>
  <root>
  <level value="ALL"/>
  <appender-ref ref="LogFileAppender"/>
  <appender-ref ref="ConsoleAppender"/>
  </root>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
  <param name="File" value="d2mp.log"/>
  <param name="AppendToFile" value="true"/>
  <rollingStyle value="Size"/>
  <maxSizeRollBackups value="10"/>
  <maximumFileSize value="10MB"/>
  <staticLogFileName value="true"/>
  <layout type="log4net.Layout.PatternLayout">
  <param name="ConversionPattern" value="%date{HH:mm:ss} %-5level [%logger{1}]: %message%newline"/>
  </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
  <layout type="log4net.Layout.PatternLayout">
  <conversionPattern value="%date{HH:mm:ss} %-5level [%logger{1}]: %message%newline"/>
  </layout>
  </appender>
  </log4net>
  <runtime>
  <assemblyBinding>
  <probing privatePath="CompiledNodes"/>
  </assemblyBinding>
  </runtime>
  <startup>

  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
  <d2mpserver.Properties.Settings>
    <setting name="serverIP" serializeAs="String">
      <value>ws://d2modd.in:3006/</value>
    </setting>
    <setting name="connectPassword" serializeAs="String">
      <value>mHCYLzo7SAcpIcxXCmlR</value>
    </setting>
    <setting name="exePath" serializeAs="String">
      <value>C:\dotaserver\srcds.exe</value>
    </setting>
    <setting name="devArgs" serializeAs="String">
      <value>-condebug -dev</value>
    </setting>
    <setting name="args" serializeAs="String">
      <value>-console -game dota</value>
    </setting>
    <setting name="serverCount" serializeAs="String">
      <value>10</value>
    </setting>
    <setting name="workingDir" serializeAs="String">
      <value>C:\dotaserver\</value>
    </setting>
  </d2mpserver.Properties.Settings>
  </userSettings>
  </configuration>
